.button{
background-color: #274676;
width: 170px;
height: 35px;
text-aling: center;
border: 4px solid #111e33;
border-radius: 12px;
}

.button:hover{
transtion-duration: 1.5s;
margin: 0px 0px;
border: 8px solid #225667;
backgrond-color: #3688a2;
padding: 50px;
box-shadow: 20px 10px 8px 2px #132e2c;
color: #093326;
}

.button:not(hover){
transition-duration: 1.5s;
margin: 350px 0px;
}